body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    margin-top: 2rem;
    border-radius: 3.1em;
    border: 2px solid #eee;
    max-width: 380px;
}

img:hover {
    border-width: 5px;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.3em;
}

p.desc {
    font-size: 1.1em;
    line-height: 1.6em;
    padding: .2em 10em;
    font-weight: 400;
}

a {
    /* color: #333; */
    border: 3.2px solid #fff;
    color: #fff;
    background: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3.1em;
    margin: .3em .2em;
    display: inline-block;
}

a:hover {
    background: #fff;
    color: #333;
}

.hero {
    background: url(https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 100vh;
    font-family: Arial;
    /* overflow: hidden; */
}

.left {
    margin-right: .3em;
    top: .07em;
    position: relative;
    font-size: 1.2em;
}

.hero-bg {
    padding: 2.4em;
    height: 88vh;
    background: rgba(255, 179, 0, .8);
    background: -webkit-linear-gradient(to right, rgba(51, 51, 51, .8), rgba(255, 179, 0, .8));
    background: linear-gradient(to right, rgba(51, 51, 51, .8), rgba(255, 179, 0, .8));
}

@media (min-width: 300px) and (max-width: 800px) {
    p.desc {
        padding: .4em;
    }
    .hero {
        height: 120vh;
    }
    .hero-bg {
        height: 110vh;
    }
}
