body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    margin-top: 2rem;
    border-radius: 3.1em;
    border: 2px solid #333;
    max-width: 300px;
}

img:hover {
    border-width: 5px;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.3em;
}

p.desc {
    font-size: 1.1em;
    line-height: 1.6em;
    padding: .2em 10em;
    font-weight: 400;
}

a {
    /* color: #333; */
    border: 3.2px solid #fff;
    color: #fff;
    background: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3.1em;
    margin: .3em .2em;
    display: inline-block;
}

a:hover {
    background: #fff;
    color: #333;
}

.hero {
    background: url(https://ch3302files.storage.live.com/y4mE_9dclYzC6H5PbTQ8gD15DGd7d_dquvbeiYzSsQ9LuDSKKjtnbkHrkxFAEDq7SsU2ombwYgkyTncpoqOmryMIpAT2Hw1p5th4UYCxF8bHWNxIE-MwfO3N221u076GRqHvHQaOBwRVs5cQ4wSINkf1vBuvvlcNxsAN0ex5j0K596GDeS_dhVBLvL33kjT1c-p0g5VCK5YoBObUY1E2GySIg/IMG20180709154447.jpg?psid=1&width=982&height=736);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    min-height: 100vh;
    font-family: Arial;
    /* overflow: hidden; */
}

.left {
    margin-right: .3em;
    top: .07em;
    position: relative;
    font-size: 1.2em;
}

.hero-bg {
    padding: 2.4em;
    min-height: 100vh;
    background: rgba(255, 179, 0, .8);
    background: -webkit-linear-gradient(to right, rgba(51, 51, 51, .8), rgba(255, 179, 0, .8));
    background: linear-gradient(to right, rgba(51, 51, 51, .8), rgba(255, 179, 0, .8));
}

@media (min-width: 300px) and (max-width: 800px) {
    p.desc {
        padding: .4em;
    }
    img {
        max-width: 200px;
    }
}
